<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PitchReplace_linux</display-name>
  <welcome-file-list>
    <welcome-file>upload.html</welcome-file>
    <welcome-file>upload.htm</welcome-file>
    <welcome-file>upload.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
    <display-name>upload</display-name>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.APP.Upload.Upload</servlet-class>
  </servlet>
  <servlet>
    <display-name>download</display-name>
    <servlet-name>download</servlet-name>
    <servlet-class>com.APP.Upload.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
</web-app>